<!DOCTYPE html>{% load static %}
<html>
<head>

    <meta charset="UTF-8">
    <title>Using Django ToDOApp</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">

    <script src="{% static 'js/ajaxfile.js' %}"></script>

</head>

 <body>
<div class="style">

 <div django-app="TaskManager">
     <div class="container">
         <div class="content">
             <h1>ToDo App</h1>
             <div class="edit" align="right">
                <button class="taskDelete" name="taskDelete"id="edits"><i class="fa fa-edit icon"></i>Edit Tasks</button>
             </div>
                 <form  method="POST">
                 {% csrf_token %}
                 <div class="inputContainer">
                     <input type="text" id="description" class="taskName" placeholder="What do you need to do?" name="description">
                     <label for="description">Description</label>
                 </div>
                 <div class="inputContainer half last">
                     <i class="fa fa-caret-down selectArrow"></i>
                     <select id="category" class="taskCategory" name="category_select">
                         <option class="disabled" value="">
                             Choose a category</option>
                         {% for category in category %}
                         <option>{{category.name}}</option>
                         {% endfor %}
                     </select>
                     <label for="category">Category</label>
                 </div>
                 <div class="inputContainer half last right">
                     <input type="date" id="dueDate" class="taskDate" name="date">
                     <label for="dueDate">Due Date</label>
                 </div>
                 <div class="row">
                     <button class="taskAdd" id="taskAdd" name="taskAdd" type="submit">
                         <i class="fa fa-plus icon"></i>Add task</button>
                <button class="taskDelete" name="taskDelete"id="delete" type="submit"><i class="fa fa-trash-o icon"></i>Delete Tasks</button>


                 </div>

                 <ul class="taskList">
                {% for todo in task %}
                <li class="taskItem">
                    <input type="checkbox" class="taskCheckbox" name="checkedbox" id=checked{{todo.id}} value="{{todo.id}}">
                    <label for="checked"><span class="complete-">{{ todo.title }}</span></label>
                    <span class="category-{{ todo.category }}">{{ todo.category }}</span>
                    <strong class="taskDate"><i class="fa fa-calendar"></i>{{ todo.created }} - {{ todo.due_date }}</strong>
                </li>
               {% endfor %}
                 </ul>

             </form>
         </div>


     </div>
 </div>
</div>

<!--...............................................................................................-->

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="memberModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="memberModalLabel">Edit Task</h4>
            </div>
            <div class="dash">
                <h1>ToDo App</h1>

             <form  method="POST" action="savemodal">
                 {% csrf_token %}

                 <div class="inputContainer">
                     <input type="text" id="id" class="taskid" value="{{data.id}}" placeholder="id" name="id">
                     <label for="description">ID</label>
                 </div>
                 <div class="inputContainer">
                     <input type="text" id="descriptionmodal" class="taskNames" value="{{data.title}}" placeholder="What do you need to do?" name="description">
                     <label for="description">Description</label>
                 </div>
                 <div class="inputContainer half last">
                     <i class="fa fa-caret-down selectArrow"></i>
                     <select id="categorymodal" class="taskCategorys" name="category_select">
                         <option class="disabled" value="">
                             Choose a category</option>
                         {% for category in category %}
                         <option>{{category.name}}</option>
                         {% endfor %}
                     </select>
                     <label for="category">Category</label>
                 </div>
                 <div class="inputContainer half last right">
                     <input type="date" id="dueDatemodal" class="taskDates" value="{{data.due_date}}" name="date">
                     <label for="dueDate">Due Date</label>

                 </div>

                 <div class="modal-footer">
                  <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                  <button type="submit" class="btn btn-primary submitBtn" id="edittask">Submit</button>
               </div>

                   </form>
               </div>
           </div>
      </div>
     </div>
 <!--................................................................................................-->
 </body>

</html>